body {
}



#about-content-text {
    height: 10%;
    width: 75%;
    margin: 0 auto;
    /*background-color: darkgray*/
}
#about-content-people-container-full-width {
    height: 35%;
    width: auto;
    background-color: rgba(169,169,169,0.25)
}

#about-content-people-container {
    display: table;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    /*background-color: cornflowerblue*/
}

.div-about-content-people-aspect {
    padding-bottom: 66.66%;
    width: 100%;
    position: relative;
}

.div-about-content-people-aspect > .div-about-content-people {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.div-about-content-people {
    display: table-cell;
    height: 100%;
    width: auto;
    padding: 0.5rem;
    box-sizing: border-box;
}

.div-about-content-people-image {
    position: relative;
    height: 65%;
    width: 100%;
    border-radius: 50%;
    /*background-color: lightgray;*/
}

.div-about-content-people-text {
    position: relative;
    height: 35%;
    width: auto;
    padding: 0 1rem;
    /*background-color: darkgray;*/
}

