body {
}

#contact-content-form-image-container {
    display: table;
    height: 70%;
    width: 80%;
    margin: 0 auto;
    /*background-color: blanchedalmond*/

}

.contact-content-form-image {
    display: table-cell;
    padding: 0.75rem;
    height: 100%;
    width: 50%;
    background-color: darkgray
}

.contact-content-form-image-child {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    /*background-color: cornflowerblue*/
}

.contact-content-contact-details-container {
    height: 80%;
    width: 100%
}

.contact-content-contact-details {
    position: absolute
}

.contact-content-external-links-container {
    position: relative;
    height: 20%;
    width: 100%
}

.contact-content-external-links {
    height: 50%;
    width: 80%;
    /*background-color: lightgray*/
}

/*not currently used*/
.contact-content-form-container {
    position: absolute;
    height: auto;
    width: 100%
}

.contact-content-form-item {
    position: relative;
    height: 8%;
    width: 100%;
    margin-bottom: 0.75rem;
}

.contact-content-form-item-input {
    background-color: whitesmoke
}

.contact-content-form-item-submit {
    position: relative;
    background-color: coral
}

.contact-social-icons {
    margin-left: 1rem
}

.div-form-label-text {
    position: absolute
}

.div-submit-text {
    height: auto;
    width: 10rem;
    margin: 0 auto;
    text-align: center
}

.contact-label-text {
    vertical-align: middle;
    margin: auto 0
}