
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

a:hover {
    background-color: yellow
}

.div-navbar-link:hover {
    background-color: coral
}

.div-page {
    width: auto
}

#navbar {
    height: 100px;
    background-color: lightgray
}

#site-navbar-content-container {
    height: 100vh;
}

.site-navbar-content-container-welcome {
    background-image: url(/assets/images/AS6_9781-279.jpg);
    background-size: cover
}

.section {
    width: 100%;
    height: 100%
}
.div-welcome-content {
    margin: auto;
    position: relative;
    top: 15%;
    width: 60%;
    height: 40%;
    /*background-color: lightgray*/
}

.div-welcome-content-text {
    height: 75%;
    width: 100%;
    text-align: center;
    /*background-color: darkgray*/
}

.div-welcome-content-text-hero {
    height: auto;
    width: 100%;
    margin-bottom: 1rem
}

.div-heading-text-normal {
    width: 40%;
    height: 70%;
    text-align: center;
    background-color: darkgray
}

.div-heading-text-normal-container {
    position: relative;
    height: 10%;
    width: auto;
    background-color: azure
}

.div-welcome-content-buttons {
    position: relative;
    height: 25%;
    width: 100%;
    /*background-color: lightgray*/
}

.div-welcome-buttons {
    position: relative;
    height: 100%;
    width: 60%;
    /*background-color: beige;*/
    
}

.div-welcome-button-container {
    position: relative;
    width: 50%;
    height: 100%;
    /*background-color: darkgray*/
}

/*centering:
https://www.smashingmagazine.com/2013/08/absolute-horizontal-vertical-centering-css/*/

.div-absolute-centered {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.div-content-button {
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    width: 90%;
    height: 70%;
}

.div-content-button-cta {
    background-color: coral
}

.div-welcome-button-learnmore {
    background-color: cadetblue
}

.div-navbar-link-container {
    position: relative;
    width: 10em;
    height: 100%;
    /*background-color: brown*/
}

.div-navbar-link {
    position: absolute;
    display: table;
    width: 80%;
    height: 60%;
    background-color: darkgray;
    text-align: center
}

.div-navbar-link-cta {
    background-color: coral !important
}

.font-navbar {
    font-size: 80%;
    display: table-cell;
    /*line-height: 80%;*/
    /*margin: 0;*/
    vertical-align: middle;
    color: white
}

.div-vertical-center {
    /*margin: auto;
    vertical-align: middle*/
    top: 50%;
    transform: translateY(-50%)
}
.div-horizontal-center {
    margin: 0 auto
}



#footer {
    height: 250px;
    background-color: lightgray
}


.div-layout {
    border: cornflowerblue;
    border-style: none;
    border-width: 1px
}

.div-hflow-left {
    float: left
}

.div-hflow-right {
    float: right
}

.div-cta-container {
    width: 70%;
    height: 10%;
    /*background-color: darkseagreen*/
}

.div-cta-text-container {
    position: relative;
    height: 100%;
    width: 80%
}

.div-cta-text {
    height: 70%;
    width: 100%;
}

.div-cta-button-container {
    position: relative;
    height: 100%;
    width: 20%
}

.cta-text {
    font-size: 2.2rem
}

#welcome-text-hero {
    font-size: 3rem;
}
#welcome-text-normal {
    font-size: 1.25rem;
    
}

#header-text-hero {
    font-size: 3.5rem
}

.img-site {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
    resize: both
}