    body {
}

#work-navbar-content-container {
    height: 180vh
}
.div-work-content-text-container {
    width: auto;
    height: 10%
}

#work-content-work-container-full-width {
    position: relative;
    height: 50%;
    width: auto;
}

#work-content-work-container {
    display: table;
    height: 83%;
    width: 80%;
    /*margin: 0 auto;*/
    /*background-color: cornflowerblue*/
}

.div-work-content-container-row {
    display: table-row;
    /*width: 100%;
    height: auto;*/
}

.div-work-content-work {
    display: table-cell;
    padding: 0.75rem;
    box-sizing: border-box;
    /*height: 100%;*/
    /*width: auto*/
}

.div-work-content-work-image {
    height: 80%;
    width: auto;
    /*background-color: lightgray*/
}

.div-work-content-work-text {
    height: 20%;
    width: auto;
    background-color: darkgray
}

.img-work {
    display: block;
    width: 334px;
    height: 185px
}
